<h2>Select Products</h2>

<p><%= link_to "View Your Order", order_path(@order.id) %></p>

<h3>Select Food Items</h3>

<p>
    <% @foods.map do |product| %>
      <%= form_tag update_product_order_path do %>
        <%= product.name %>
        <%= text_field_tag :product_id, nil, :value => product.id, :readonly => true %>
        <strong><%= label_tag :quantity %></strong>
        <% po = @product_orders.where(:order_id => @order.id, :product_id => product.id).first %>
        <% if po.present? %>
          <% quan = po.quantity %>
        <% else %>
          <% quan = 0 %>
        <% end %>
        <%= number_field_tag :quantity, nil, :value => quan, :min => 0, :max => 20, :required => true %>
        <%= submit_tag %>
      <% end %>
    <% end %>
</p>

<h3>Select Drink Items</h3>

<p>
  <% @drinks.map do |product| %>
    <%= form_tag update_product_order_path do %>
      <%= product.name %>
      <%= text_field_tag :product_id, nil, :value => product.id, :readonly => true %>
      <strong><%= label_tag :quantity %></strong>
      <% po = @product_orders.where(:order_id => @order.id, :product_id => product.id).first %>
      <% if po.present? %>
        <% quan = po.quantity %>
      <% else %>
        <% quan = 0 %>
      <% end %>
      <%= number_field_tag :quantity, nil, :value => quan, :min => 0, :max => 20, :required => true %>
      <%= submit_tag %>
    <% end %>
  <% end %>
</p>

<h3>Select Clothing Items</h3>

<p>
  <% @clothing.map do |product| %>
    <%= form_tag update_product_order_path do %>
      <%= product.name %>
      <%= text_field_tag :product_id, nil, :value => product.id, :readonly => true %>
      <strong><%= label_tag :quantity %></strong>
      <% po = @product_orders.where(:order_id => @order.id, :product_id => product.id).first %>
      <% if po.present? %>
        <% quan = po.quantity %>
      <% else %>
        <% quan = 0 %>
      <% end %>
      <%= number_field_tag :quantity, nil, :value => quan, :min => 0, :max => 20, :required => true %>
      <%= submit_tag %>
    <% end %>
  <% end %>
</p>

<h3>Select Health and Hygiene Items</h3>

<p>
  <% @hygiene_products.map do |product| %>
    <%= form_tag update_product_order_path do %>
      <%= product.name %>
      <%= text_field_tag :product_id, nil, :value => product.id, :readonly => true %>
      <strong><%= label_tag :quantity %></strong>
      <% po = @product_orders.where(:order_id => @order.id, :product_id => product.id).first %>
      <% if po.present? %>
        <% quan = po.quantity %>
      <% else %>
        <% quan = 0 %>
      <% end %>
      <%= number_field_tag :quantity, nil, :value => quan, :min => 0, :max => 20, :required => true %>
      <%= submit_tag %>
    <% end %>
  <% end %>
</p>

<h3>Select Transport Tickets</h3>

<p>
  <% @tickets.map do |product| %>
    <%= form_tag update_product_order_path do %>
      <%= product.name %>
      <%= text_field_tag :product_id, nil, :value => product.id, :readonly => true %>
      <strong><%= label_tag :quantity %></strong>
      <% po = @product_orders.where(:order_id => @order.id, :product_id => product.id).first %>
      <% if po.present? %>
        <% quan = po.quantity %>
      <% else %>
        <% quan = 0 %>
      <% end %>
      <%= number_field_tag :quantity, nil, :value => quan, :min => 0, :max => 20, :required => true %>
      <%= submit_tag %>
    <% end %>
  <% end %>
</p>

<h3>Select Entertainment Products</h3>

<p>
  <% @entertainment.map do |product| %>
    <%= form_tag update_product_order_path do %>
      <%= product.name %>
      <%= text_field_tag :product_id, nil, :value => product.id, :readonly => true %>
      <strong><%= label_tag :quantity %></strong>
      <% po = @product_orders.where(:order_id => @order.id, :product_id => product.id).first %>
      <% if po.present? %>
        <% quan = po.quantity %>
      <% else %>
        <% quan = 0 %>
      <% end %>
      <%= number_field_tag :quantity, nil, :value => quan, :min => 0, :max => 20, :required => true %>
      <%= submit_tag %>
    <% end %>
  <% end %>
</p>

<%= link_to "View Your Order", order_path(@order.id) %>
