<h2><%= @user.name %></h2>

<div class="details">
  <div>
    <h3>Current Details</h3>

    <p><strong>Email: </strong> <%= @user.email %></p>
    <p><strong>Mobile: </strong> <%= @user.mobile %></p>
    <p><strong>Available Hours: </strong> <%= @user.available_hours %></p>

    <p><%= link_to "View Orders", user_orders_path(@user.id) %></p>
    <p><%= link_to "View Shifts", user_shifts_path(@user.id) %></p>
  </div>

  <% if @current_user.id == @user.id %>
    <div>
        <h3>Edit Details</h3>

        <%= form_for @user do |f| %>
          <p>
            <%= f.label :name %>
            <%= f.text_field :name, :required => true %>
          </p>

          <p>
            <%= f.label :email %>
            <%= f.email_field :email, :required => true %>
          </p>

          <p>
            <%= f.label :mobile %>
            <%= f.text_field :mobile, :required => true %>
          </p>

          <p>
            <%= f.label :available_hours %>
            <%= f.number_field :available_hours, :required => true %>
          </p>

          <!-- I might later add the option to change password by first submitting the original -->

          <p>
            <%= f.submit "Edit Details" %>
          </p>

        <% end %>
    </div>
  <% end %>  
</div>

<% if flash[:error] == "Account Steal" %>
  <%= javascript_tag 'alert("Stop Trying to Hack Accounts. Go back to yours.")' %>
<% end %>
