<h2>Department Details</h2>

<div>
  <% @departments.map do |department| %>
    <div class="department">
        <h3><%= department.name %></h3>

        <p><strong>Email: </strong><%= department.email %></p>
        <p><strong>Contact Number: </strong><%= department.contact_number %></p>
        <p><%= link_to "Edit Details", edit_department_path(department.id) if @current_user.present? && @current_user.admin? %></p>
        <p><%= link_to "View Labour Stats", department_path(department.id) if @current_user.present? && @current_user.admin? %></p>
    </div>
  <% end %>
</div>
