<%= form_for @shift do |f| %>

    <p>
      <%= f.label :role %>
      <%= f.text_field :role, :required => true, :placeholder => "Customer Service" %>
    </p>

    <p>
      <%= f.label :location %>
      <%= f.text_field :location, :required => true, :placeholder => "Melbourne" %>
    </p>

    <p>
      <%= f.label :start_time %>
      <%= f.datetime_field :start_time, :required => true, :min => Time.now.change({sec: 0}), :max => "31-12-2100 00:00:00" %>
    </p>

    <p>
      <%= f.label "Enter Duration: " %>
      <%= f.number_field :hours, :required => true, :min => 3, :max => 10 %> hours
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>
