<h2> <%= @shift.role %> Shift: <%= @shift.location %></h2>

<h3>Shift Details</h3>

<p>
   <strong>Start Time: </strong><%= @shift.start_time.strftime("%-d %B %Y, %-l:%M%P") %>
   <strong>Length: </strong><%= @shift.hours %> hours
   <strong>Location: </strong><%= @shift.location %>
</p>

<p>
  <strong>Assigned Workers</strong>:
  <% @shift.users.map do |user| %>
    <%= link_to user.name, user_path(user.id) %> (<%= link_to "remove", shift_users_remove_path(@shift.id, user.id), :method => "post" %>),
  <% end %>
</p>

<h3>Edit Shift</h3>

<%= render :partial => "form" %>

<%= form_tag shift_users_add_path(@shift.id) do %>
  <p>
    <%= label_tag "Add A Worker: " %><!-- Improve to enable multiple workers to be added -->
    <%= select "worker_id", nil, User.pluck(:name, :id), :required => true %>
  </p>
  <p>
    <%= submit_tag "Add", :method => "post" %>
  </p>
<% end %>

<p>Don't forget to notify workers of shift cancelations.</p>
