<h2> <%= @shift.role %> Shift: <%= @shift.location %></h2>

<h3>Shift Details</h3>

<p>
   <strong>Start Time: </strong><%= @shift.start_time.strftime("%-d %B %Y, %-l:%M%P") %>
   <strong>Length: </strong><%= @shift.hours %> hours
   <strong>Location: </strong><%= @shift.location %>
</p>

<% if flash[:message].present? %>
  <p><strong>Don't forget to notify workers of shift cancelations.</strong></p>
<% end %>

<h3>Assigned Workers</h3>
<% @shift.users.map do |user| %>
  <div class="assigned-worker">
    <%= link_to user.name, user_path(user.id) %>
    (<%= button_to "Remove", shift_users_remove_path(@shift.id, user.id), :method => "post" %>)
  </div>
<% end %>

<h3>Edit Shift</h3>

<%= render :partial => "form" %>

<p>Please get permission from workers before adding them to a shift.</p>

<%= form_tag shift_users_add_path(@shift.id) do %>
  <p>
    <%= label_tag "Add A Worker: " %><!-- Improve to enable multiple workers to be added -->
    <%= select :worker_id, nil, User.pluck(:name, :id), :required => true %>
  </p>
  <p>
    <%= submit_tag "Add", :method => "post" %>
  </p>
<% end %>
