<h2>Order <%= @order.id %></h2>

<p><strong>Made On: </strong><%= @order.date %></p>
<p><strong>Delivery Address: </strong><%= @order.address %></p>

<!-- This show only appear if the correct user is logged in, so admins can't modify orders -->
<p>
  <% if Date.today <= @confirmation_date %>
    <%= link_to "Modify Order", edit_order_path if @current_user.id == @order.user_id %>
  <% else %>
    Orders can't be modified more than 2 days after they are placed.
  <% end %>
</p>

<!-- sort items by category -->

<% @product_orders.map do |product_order| %>
  <span>
      <%= product_order.product.name %> x <%= product_order.quantity %>
  </span>
<% end %>

<p>
  <a href="https://flight-planner-app.herokuapp.com/"><%= "Click here to book your flights" if @plane_ticket.present? %></a> 
</p>
